/* src/assets/Subjects.css */

body{
    background-color: #1d2634;
}
.add-subject-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .add-subject-form input {
    padding: 10px;
    width: 70%; /* Input takes up most of the space */
    margin-right: 10px; /* Space between input and button */
  }
  
  .add-subject-form button {
    margin-top: 10px;
    padding: 8px 10px;
    background-color: #2962ff; /* Button color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 38px;
  }
  
  .add-subject-form button:hover {
    background-color: #0056b3; /* Darker on hover */
  }
  
  .subjects-table {
    width: 100%; /* Table takes full width */
    border-collapse: collapse; /* No space between borders */
  }
  
  .subjects-table th, .subjects-table td {
    border: 1px solid #444; /* Dark border */
    padding: 10px; /* Padding for table cells */
    text-align: left; /* Align text to the left */
  }
  
  .subjects-table th {
    background-color: #263043; /* Header background color */
    color: #ffffff; /* Header text color */
  }
  
  .subjects-table tr:nth-child(even) {
    background-color: #2a2d36; /* Alternate row color */
  }
  
  .subjects-table button {
    padding: 5px 10px;
    background-color: #d50000; /* Delete button color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .subjects-table button:hover {
    background-color: #a00000; /* Darker on hover */
  }
  